---
layout: default
title: Blog
---

<div class="posts">
  {% assign i = 0 %}
  {% for post in site.posts %}
  {% assign i = i | plus: 1 %}
  <div class="post post-summary">
    <h2 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h2>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {% if i == 1 %}
    <p>{{ post.content | truncatewords:100 }}</p>
    {% else %}
    <p>{{ post.synopsis }}</p>
    {% endif %}
    <div class="post-actions">
      <a href="{{ post.url }}">
        Read on...
      </a>
    </div>
  </div>
  {% endfor %}
</div>