/*
 *  ICONS
 */

@font-face {
  font-family: 'icomoon';
  src:url('../../fonts/icomoon.eot?-6hbi6d');
  src:url('../../fonts/icomoon.eot?#iefix-6hbi6d') format('embedded-opentype'),
    url('../../fonts/icomoon.woff?-6hbi6d') format('woff'),
    url('../../fonts/icomoon.ttf?-6hbi6d') format('truetype'),
    url('../../fonts/icomoon.svg?-6hbi6d#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-quill:before {
  content: "\e907";
}
.icon-twitter:before {
  content: "\ea91";
}
.icon-github:before {
  content: "\eab1";
}
.icon-linkedin:before {
  content: "\eac9";
}

body {
    margin: 0;
    padding: 0;
    clear: both;
    overflow: hidden;
    font-family: "Oxygen", Arial, Sans-serif;
    font-size: 13px;
}

h1, .h1, h2, .h2, h3, .h3 {
    font-family: "Roboto Slab", Arial, Sans-serif;
    color: #555;
    font-size: 2em;
    line-height: 1;
}

/*helpers*/

.vam {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}

.content {
    width: 100%;
}

.key {
    width: 60px;
    height: 60px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background: #fff;
    color: #fff;
    border-radius: 10%;
    position: relative;
    right: -9px;
    bottom: -9px;
}

/* logo */

.logo {
    width: 25em;
    height: 25em;
    margin: 0 auto; 
    /* text-align: center; */
    padding: 3.3em 0;
    box-sizing: border-box;
    border: 20px solid #fff;
    border-radius: 50%;
    box-shadow: 10px 5px 0px #fff, 10px 10px 0px #fff;
}

.logo .key-row {
    margin-bottom: 10px;
    font-size: 0;
    text-align: center;
}

.logo .key {
    font-size: 12px;
}

.logo .key.i {
    margin: 0 10px 0 20px;
}

.logo .key.m {
    margin-left: -96px;
}


.bio {
    text-align: center;
    font-size: 2em;
    color: #999;
}

.nav {
    display: table;
    border-collapse: collapse;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    margin-top: 3em;
}

.nav li {
    display: table-cell;
    text-align: center;
    padding: 0 15px;
    position: relative;
}

.nav a {
    display: inherit;
    background-color: #d5d5d5;
    color: #fff;
    padding: 0.5em;
    font-weight: 600;
    border-radius: 50%;
    text-decoration: none;
    vertical-align: middle;
    height: 50px;
    width: 50px;
    font-size: 2.5em;
}

.nav a:hover {
    background-color: #FF9437; 
}

.nav .icon-twitter:hover {
    background-color: #55acee;
}

.nav .icon-linkedin:hover {
    background-color: #287eb6;
}

.nav .icon-github:hover {
    background-color: #333;
}

.badge {
  position: absolute;
  top: 0;
  left: -15px;
  background: #FF9437;
  color: #fff;
  padding: 3px 5px;
  border-radius: 8px 8px 0 8px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}

/*****************************************/
/*             ANIMATION                 */
/*****************************************/

.key:after {
  display: block;
  border-radius: 50%;
  border: 1px solid #fff;
  content: '';
  height: 60px;
  width: 60px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
}

.animate .key {
  transition: right 0.3s ease-out, bottom 0.3s ease-out, box-shadow 0.3s ease-out, background-color 0.1s ease-out, color 0.1s ease-out;
  transition-delay: 1.5s;
  box-shadow: 1px 1px 0px #FF9437, 3px 3px 0px #FF9437, 6px 6px 0px #FF9437;
  right: 0;
  bottom: 0;
  background-color: #d5d5d5;
  color: #d5d5d5;
}

.animate .key:after {
    transition: transform 0.3s ease-out, opacity 0.3s ease-out, border-color 0.1s ease-out;
    transform: scale(3);
    opacity: 0;
    border-color: #d5d5d5;
}

.animate .key.m,
.animate .key.m:after {
  transition-delay: 0.1s;
}

.animate .key.i,
.animate .key.i:after {
  transition-delay: 0.6s;
}

.animate .key.k,
.animate .key.k:after {
  transition-delay: 1.1s;  
}

.animate .key.o,
.animate .key.o:after {
  transition-delay: 1.6s;  
}

.animate .logo {
  transition: border-color 0.6s ease-out, box-shadow 0.6s ease-out;
  transition-delay: 2s;
  border-color: #d5d5d5;
  box-shadow: 10px 5px 0px #FF9437, 10px 10px 0px #FF9437;
}