---
layout: head
---

    <header class="masthead">
      <div class="masthead-inner">
        <h1>Miko Ademagic</h1>
        <p class="lead">Leaping over buildings,</p>
        <p class="lead">waving at the children.</p>

        <div class="colophon">
          <ul class="colophon-links">
            <li>
              <a href="http://www.twitter.com/miko_a" target="_blank">twitter</a>
            </li>
          </ul>
        </div>

      </div>
    </header>

    <div class="content container">
      {{ content }}
    </div>